  <div class="container custom-container">
    <h2 class="mb-3 text-center view-emp">View Employee</h2>
    <div class="col-md-6 form-center">
        
        <div class="form-group">
          <input type="text" [(ngModel)]="employeeData.name" class="form-control">
        </div>
    
        <div class="form-group">
          <input type="text" [(ngModel)]="employeeData.salary" class="form-control">
        </div>
    
        <div class="form-group">
          <input type="text" [(ngModel)]="employeeData.age" class="form-control">
        </div> 
        
        <div class="form-group create-btn">
            <button class="btn btn-primary btn-lg btn-block" routerLink="/list-employee">Back</button>
        </div>
    </div>
</div>
